freezegun==1.2.2
Flask==2.3.3
Django==2.2.12
requests==2.24.0
starlette==0.31.1
tornado==4.5.1
httpx==0.25.0

ddtrace @ git+https://github.com/ellingtonjp/dd-trace-py.git@ea12f34c3c3555e244d0e965dee7314b78a27fa1
JSON-log-formatter==0.2.0
